
@{
    Layout ="~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<script src="~/Scripts/AppScript/MoviesController.js"></script>

<div ng-app="moviesStoreApp" ng-controller="moviesCtrl">
    {{movie}}
</div>


