<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="MoviesStoreDb" value="MoviesStoreDb"/>
  <add key="GetAllMovies" value="spGetAllMovies"/>
  <add key="GetAllActors" value="spGetAllActors"/>
  <add key="GetAllProducers" value="spGetAllProducers"/>
  <add key="AddMovie" value="spAddMovie"/>
  <add key="AddActor" value="spAddActor"/>
  <add key="AddProducer" value="spAddProducer"/>
  <add key="GetAllYears" value="spGetAllYears"/>
  <add key="GetMovieByID" value="spGetMovieByID"/>
  <add key="EditMovie" value="spEditMovie"/>
  
</appSettings>