<connectionStrings>
  
  <add name="MoviesStoreDb" connectionString="Data Source=31d6c04c-e90a-4e02-87c3-a882012ed979.sqlserver.sequelizer.com;Initial Catalog=db31d6c04ce90a4e0287c3a882012ed979;User ID=kpccgguhjwptizuv;Password=YGrUUwXTEzJWAx8Xk5oKLyYcy5qxYNi6bJ6NeCSbWuGXMbY73VJyPmnyRovYfz4Z" providerName="System.Data.SqlClient" />
 <!--<add name="MoviesStoreDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=MoviesStore;Integrated Security=True" providerName="System.Data.SqlClient" />-->
</connectionStrings>