<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="MoviesStore.Service.BL.IMoviesManager,MoviesStore.Service.BL" mapTo="MoviesStore.Service.BL.MoviesManager,MoviesStore.Service.BL"></register>
    
    <register type="MoviesStore.Service.DAL.ADORepository.IDapperRepository,MoviesStore.Service.DAL.ADORepository" mapTo="MoviesStore.Service.DAL.ADORepository.DapperRepository,MoviesStore.Service.DAL.ADORepository"></register>

    
    <register type="MoviesStore.Service.DAL.IRepository.IMoviesRepository,MoviesStore.Service.DAL.IRepository" mapTo="MoviesStore.Service.DAL.ADORepository.MoviesRepository,MoviesStore.Service.DAL.ADORepository"></register>
    
  </container>
</unity>
