<connectionStrings>
  <!--Region LocalDb Connection String -->
  <!--<add name="MemberHouseDb" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=MemberHouseDb;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <!--EndRegion-->
  <!--Region TestDb Connection String-->
  <!--<add name="MemberHouseDb" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=Sample;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <add name="MemberHouseDb" connectionString="Data Source=192.61.99.201\Test;Initial Catalog=MemberHouseDb_Service;User ID=test-um;Password=TESTUM@123456" providerName="System.Data.SqlClient" />
  <add name="AccountManagement" connectionString="Data Source=192.61.99.201\test;Initial Catalog=AccountManagementV3.0;User Id=test-ultimate;Password=password@123456;" providerName="System.Data.SqlClient" />
  <add name="OLAPDb" connectionString="Data Source=192.61.99.201\test;Initial Catalog=MIRRA_MH_OLAP_V1;User Id=Test-MemberHouse;Password=password@123456;" providerName="System.Data.SqlClient" />
  <add name="SchedulingDB" connectionString="Data Source=192.61.99.201\Test;Initial Catalog=SchedulerDB; User ID=Test-Component;Password=password@123456" providerName="System.Data.SQLClient" />
  <!--EndRegion-->
</connectionStrings>