<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <!--<register type="MIRRA.MemberHouse.Common.BL.ICommonMemberManager,MIRRA.MemberHouse.Common.BL" mapTo="MIRRA.MemberHouse.Common.BL.CommonMemberManager,MIRRA.MemberHouse.Common.BL"></register>
    --><!--<register type="MIRRA.MemberHouse.Common.DAL.IRepository.IMemberRepository,MIRRA.MemberHouse.Common.DAL.IRepository" mapTo="MIRRA.MemberHouse.Common.DAL.AdoRepository.MemberRepository,MIRRA.MemberHouse.Common.DAL.AdoRepository"></register>
    <register type="MIRRA.MemberHouse.Common.DAL.AdoRepository.IDataRepositoryManager,MIRRA.MemberHouse.Common.DAL.AdoRepository" mapTo="MIRRA.MemberHouse.Common.DAL.AdoRepository.DataRepositoryManager,MIRRA.MemberHouse.Common.DAL.AdoRepository"></register>
    <register type="MIRRA.MemberHouse.Common.Facade.ProviderService.IProviderService,MIRRA.MemberHouse.Common.Facade" mapTo="MIRRA.MemberHouse.Common.Facade.ProviderService.ProviderService,MIRRA.MemberHouse.Common.Facade"></register>--><!--
    
    <register type="MIRRA.MemberHouse.Common.Facade.ProviderService.IProviderService,MIRRA.MemberHouse.Common.Facade" mapTo="MIRRA.MemberHouse.Common.Facade.ProviderService.ProviderService,MIRRA.MemberHouse.Common.Facade"></register>
    --><!--<register type="MIRRA.MemberHouse.Common.DAL.IRepository.ICommonMemberRepository,MIRRA.MemberHouse.Common.DAL.IRepository" mapTo="MIRRA.MemberHouse.Common.DAL.AdoRepository.CommonMemberRepository,MIRRA.MemberHouse.Common.DAL.AdoRepository"></register>--><!--
    <register type="MIRRA.MemberHouse.Common.Util.IDapperRepository,MIRRA.MemberHouse.Common.Util" mapTo="MIRRA.MemberHouse.Common.Util.DapperRepository,MIRRA.MemberHouse.Common.Util"></register>

    <register type="MIRRA.MemberHouse.MemberService.BL.IMemberServiceManager,MIRRA.MemberHouse.MemberService.BL" mapTo="MIRRA.MemberHouse.MemberService.BL.MemberServiceManager,MIRRA.MemberHouse.MemberService.BL"></register>
    <register type="MIRRA.MemberHouse.MemberService.DAL.IRepository.IMemberRepository,MIRRA.MemberHouse.MemberService.DAL.IRepository" mapTo="MIRRA.MemberHouse.MemberService.DAL.AdoRepository.MemberRepository,MIRRA.MemberHouse.MemberService.DAL.AdoRepository"></register>
    <register type="MIRRA.MemberHouse.MemberService.Facade.ProviderService.IProviderService,MIRRA.MemberHouse.MemberService.Facade" mapTo="MIRRA.MemberHouse.MemberService.Facade.ProviderService.ProviderService,MIRRA.MemberHouse.MemberService.Facade"></register>
    <register type="MIRRA.MemberHouse.MemberService.Facade.MDMService.IMDMService,MIRRA.MemberHouse.MemberService.Facade" mapTo="MIRRA.MemberHouse.MemberService.Facade.MDMService.MDMService,MIRRA.MemberHouse.MemberService.Facade"></register>
    
    <register type="MIRRA.MemberHouse.Common.Caching.ICacheManager,MIRRA.MemberHouse.Common.Caching" mapTo="MIRRA.MemberHouse.Common.Caching.InMemoryCacheManager,MIRRA.MemberHouse.Common.Caching"></register>
    <register type="Pratian.Component.Caching.Redis.RedisManager.IRedisDataAgent,Pratian.Component.Caching.Redis" mapTo="Pratian.Component.Caching.Redis.RedisManager.RedisDataAgent,Pratian.Component.Caching.Redis">
      <constructor>
        <param name="DB" value="6"/>

      </constructor>
    </register>-->
  </container>
</unity>
